{% extends "base.html" %}
{% block content %}

    <div class="content container-fluid">
       <div class="page-header">
          <div class="row align-items-center">
             <div class="col">
                <h3 class="page-title">Employee</h3>
                <ul class="breadcrumb">
                   <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                   <li class="breadcrumb-item active">Employee</li>
                </ul>
             </div>
             {% include "includes/messages.html" %}
            <div class="col-auto text-right float-right ml-auto">
                <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                <a href="{% url "add_employee" %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
        </div>
    </div>


<div class="row">
    <div class="col-sm-12">
       <div class="card card-table">
          <div class="card-body">
             <div class="table-responsive">
                <table class="table table-hover table-center mb-0 datatable">
                   <thead>
                      <tr>
                         <th>ID</th>
                         <th>Employee Name</th>
                         <th>Employee ID</th>
                         <th>contact number</th>
                         <th>D.O.B</th>
                         <th>D.O.J</th>
                         <th>10th Marks</th>
                         <th>12th Marks</th>
                         <th>Graduation Marks</th>
                         <th>Gender</th>
                         <th>Address</th>
                         <th>Father Name</th>   
                         <th>Mother Name</th>
                         <!--<th>Father Occupation</th>
                         <th>Mother Occupation</th>
                      --><th>Father Mobile</th>
                         <th>Designation</th>
                         <th>Official Email</th>
                         <th>Personal Email</th>
                         <th>Department Name</th>
                         <th>Pancard</th>
                         <th>AdharCard</th>
                         <th>total full day leave</th>
                         <th>total half day leave</th>
                         <th>Status</th>
                         <th class="text-right">Action</th>
                      </tr>
                   </thead>
                   <tbody>
                    {% for i in employee %}
                      <tr>
                         <td style="text-align: center;">{{i.id}}</td>
                         <td style="text-align: center;">
                            
                               {{i.admin.first_name}} &nbsp;{{i.admin.last_name}}
                           
                         </td>
                         <td style="text-align: center;">{{i.admin.username}}</td>
                         <td style="text-align: center;">{{i.contact_number}}</td>
                         <td style="text-align: center;">{{i.DOB}}</td>
                         <td style="text-align: center;">{{i.DOJ}}</td>
                         <td style="text-align: center;">{{i.tenth_percentage}}</td>
                         <td style="text-align: center;">{{i.twelfth_percentage}}</td>
                         <td style="text-align: center;">{{i.graduation_percentage}}</td>
                         <td style="text-align: center;">{{i.gender}}</td>
                         <td style="text-align: center;">{{i.address}}</td>
                         <td style="text-align: center;">{{i.father_name}}</td>
                         <td style="text-align: center;">{{i.mother_name}}</td>
                        <!-- <td style="text-align: center;">{{i.father_occupation}}</td>
                         <td style="text-align: center;">{{i.mother_occupation}}</td>
                        --><td style="text-align: center;">{{i.father_mobile}}</td>
                         <td style="text-align: center;">{{i.role}}</td>
                         <td style="text-align: center;">{{i.admin.email}}</td>
                         <td style="text-align: center;">{{i.personal_email}}</td>
                         <td style="text-align: center;">{{i.departement_id.departement_name}}</td>
                         <td style="text-align: center;">{{i.pancard}}</td>
                         <td style="text-align: center;">{{i.adharcard}}</td>
                         <td style="text-align: center;">{{i.full_day_leaves_remaining}}</td>
                         <td style="text-align: center;">{{i.half_day_leaves_remaining}}</td>

                         <td style="text-align: center;">{{i.status}}</td>             
                         <td  style="text-align: center;">
                            <div class="actions">
                               <a href="{% url "edit_employee" i.id %}" class="btn btn-sm bg-success-light mr-2">
                               <i class="fas fa-pen"></i>
                               </a>
                            </div>
                         </td>
                      </tr>
                      {% endfor %}
                   </tbody>
                </table>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>


{% endblock content %}



