{% extends "base.html" %} {% block content %}


<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <form method="post" action="{% url "profile_update" %}">
         {% csrf_token %}
            <div class="col-12">
              <h5 class="form-title"><span>Profile Update</span></h5>
            </div>
            {% if messages %}
                        {% for message in messages %}
                            {% if 'error' in message.tags %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        {{message}}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                            {% endif %}
                        {% endfor %}
            {% endif %}
            {% if messages %}
                        {% for message in messages %}
                            {% if 'success' in message.tags %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        {{message}}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                            {% endif %}
                        {% endfor %}
            {% endif %}
            <div class=" col-sm-11">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name='firstname' value="{{user.first_name}}">
              </div>
            </div>
            <div class="col-sm-11">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" name='lastname' value="{{user.last_name}}" >
              </div>
            </div>
            <div class="col-sm-11">
                <div class="form-group">
                  <label>Official Email</label>
                  <input type="text" class="form-control" name='off_email'value="{{user.email}}" readonly>
                </div>
              </div>
            <div class="col-sm-11">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name='username' value="{{user.username}}" readonly >
              </div>
            </div>
            <div class="col-sm-11">
                <div class="form-group">
                  <label>Password</label>
                  <input type="text" class="form-control" name='password' placeholder="If only want to change the password">
                </div>
              </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Update Profile</button>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
